/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

/* colors */

$background: #5a4a43;
$selected: #8d795b;
$action: #c08d42;
$actionContrast: #1FA513;
$contrast: #8C59F1;
$textcolor: #fff;
  
/*********** Remove default styling ***********/

a {
  color: #000;
  text-decoration: none;
}

li {
  list-style: none;
}

/*fonts*/
html { 
  font-size: 62.5%; 
} 

body { 
  font-size: 1.4rem;
  font-family: 'Merriweather', serif;
  line-height: 1.4; 
}

/*********** Mobile Styling ************/

/** mobile nav **/

#navicon {
  background: url('../img/navicon.png') no-repeat;
  width: 30px;
  height: 50px;
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 10px;
}

nav {
  position: fixed;
  top: 0;
  z-index: 10000;
  width: 100%;
  height: 50px;
  background-color: $background;
  font-size: .5rem;
  font-family: 'Poiret One', Arial;
  .logo {
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    a {
      display: inline-block;
      height: 40px;
      line-height: 40px;
      padding-left: 48px;
      background: url("../img/Logos/TROMBONEbuttonWHITE.png") no-repeat;
      background-size: contain;
      font-size: 2rem;
      font-weight: bold;
      letter-spacing: 1.5;
      color: $textcolor;
    }
    
  }
  ul {
    display: none;
    height: auto;
    background: $background;
    opacity: 0.95;
    padding: 0;
    margin: 0;
    z-index: 9000;
    li {
      padding-bottom: 15px;
      padding-top: 15px;
      text-align: center;
      font-size: 2rem;
      a {
        color: $textcolor;
        padding: 5px;
        -webkit-transition: background-color .5s;
        transition: background-color .5s;
      }
      a:hover, a:active {
        background-color: $selected;
      }
    }
  }
}

    /*changes the color of the link to a current page.  
    "selected" class is added by PHP to the header include file*/

.selected {
  background-color: $selected;
}

  /** banner styling **/

.banner {
  height: 190px;
  width: 100%;
  background: url('../img/C73C2723.jpg') no-repeat;
  background-size: cover;
  background-color: #1a0603;
}

  /*shifts following elements from under the nav*/

.filler {
  height: 50px;
}

.filler-bottom {
  height: 90px;
}


  /*main content area styling*/

.mobile-hide {
  display: none;
}

.content {
  height: auto;
  padding-top: 20px;
  display: inline-block;
  text-align: center;
  width: 100%;
  iframe {
    margin-top: 16px;
  }
  p {
    margin-top: 16px;
    margin-right: 15px;
    margin-left: 25px;
    text-align: left;
  }
  a h1{
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 33px;
    background: url("../img/Logos/TROMBONEbuttonBROWN.png") no-repeat;
    background-size: contain;
    font-family: 'Poiret One', Arial;
    font-size: 2rem;
    font-weight: bold;
  }
}

  /* events area styling */

.event {
  p {
    text-align: center;
  }
  button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: $action;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 140px;
    font-weight: bold;
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
  }
  button:hover, button:active {
    background-color: $actionContrast;
    border: 2px solid $action;
  }
}

.splash-about, .watch {
  display: none;
}

  /*listen area styling */

.listen iframe {
  margin-top: 15px;
}
  /* about page mobile styling */

.headshot {
  float: left;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 20px;
  height: 200px;
  width: 140px;
  background: url('../img/headshot.jpg') no-repeat;
  background-size: cover;
}

  /** Footer Styling **/

.footer {
  display: inline-block;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 60px;
  background-color: $background;
  color: #ddd;
  p {
    display: inline;
    float: left;
    width: 50%;
    margin-top: 8px;
    margin-left: 15px;
    font-size: 1rem;
    font-family: 'Poiret One', Arial;
    a {
      color: #ddd;
      text-decoration: underline;
    }
  }
  .social-links {
    display: inline-block;
    float: right;
    padding-left: 0px;
    margin-top: 10px;
    .social-icon {
      display: inline;
      padding-right: 5px;
      margin-right: 15px;
      a img{
        max-width: 40px;
        max-height: 40px;
        opacity: 0.6;
      }
    }
  }
}

/******************DESKTOP   STYLING  ********************/

@media only screen and (min-width : 768px) {

    /*toggle hidden / shown section */

.mobile-hide {
  display: inline-block;
}

.large-hide {
  display: none !important;
}

/** desktop nav **/

  nav ul {
    display: inline;
    float: right;
    padding: 0;
    padding-right: 8px;
    opacity: 1;
    margin: 0 auto;
    li {
      display: inline;
      padding-bottom: 0px;
      a {
        display: inline-block;
        padding: 0;
        width: 70px;
        text-align: center;
        line-height: 50px;
        font-size: 1.5rem;
        box-sizing: border-box;
      }
    }
  }

  /** desktop Banner **/

  .banner-large {
    width: 100%;
    height: 300px;
    .left-image {
      position: absolute;
      top: 50px;
      left: 0px;
      background-color: #F0f0f0; 
      img {
        height: 300px;   
        width: 500px; 
        margin: 0;
      }
   }
    .right-logo{
      position: absolute;
      top: 50px;
      right: 0px;
      left: 500px;
      height: 300px;
      text-align: center;    
      background: #f1f1f1;
       img {
         vertical-align: top;
         width: 80%;
         max-width: 400px;
         margin-top: 40px;
      }
      .banner-text {
         padding-left: 20px;
         padding-right: 20px;
         font-family: 'Poiret One', Arial;
         color: $background;
         font-size: 2rem;
        }
    }
  }


  /*********  main content area styling  ***********/

}

















