/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* colors */
/*********** Remove default styling ***********/
/* line 19, ../sass/screen.scss */
a {
  color: #000;
  text-decoration: none;
}

/* line 24, ../sass/screen.scss */
li {
  list-style: none;
}

/*fonts*/
/* line 29, ../sass/screen.scss */
html {
  font-size: 12px;
}

/* line 33, ../sass/screen.scss */
body {
  font-size: 1.4rem;
  font-family: 'Raleway', sans-serif;
  line-height: 1.4;
}

@media only screen and (max-width: 767px) {
  /* line 40, ../sass/screen.scss */
  .mobile-hide {
    display: none !important;
  }
}
/*********** Mobile Styling ************/
/** mobile nav **/
/* line 50, ../sass/screen.scss */
#navicon {
  background: url("../img/navicon.png") no-repeat;
  width: 30px;
  height: 50px;
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 10px;
}

/* line 60, ../sass/screen.scss */
nav {
  position: fixed;
  top: 0;
  z-index: 10000;
  width: 100%;
  height: 50px;
  background-color: #5a4a43;
  font-size: 1rem;
  font-family: 'Poiret One', Arial;
}
/* line 69, ../sass/screen.scss */
nav .logo {
  display: inline-block;
}
/* line 71, ../sass/screen.scss */
nav .logo a {
  display: inline-block;
  height: 50px;
  width: 120px;
  margin-left: 10px;
  background: url("../img/Logos/LogoDark.png") no-repeat;
  background-size: contain;
}
/* line 81, ../sass/screen.scss */
nav ul {
  display: none;
  height: auto;
  background: #5a4a43;
  opacity: 0.95;
  padding: 0;
  margin: 0;
  z-index: 9000;
}
/* line 89, ../sass/screen.scss */
nav ul li {
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center;
  font-size: 2rem;
}
/* line 94, ../sass/screen.scss */
nav ul li a {
  color: #fff;
  padding: 5px;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}
/* line 100, ../sass/screen.scss */
nav ul li a:hover, nav ul li a:active {
  background-color: #8d795b;
}

/*changes the color of the link to a current page.  
"selected" class is added by PHP to the header include file*/
/* line 110, ../sass/screen.scss */
.selected {
  background-color: #8d795b;
}

/*shifts following elements from under the nav*/
/* line 116, ../sass/screen.scss */
.filler {
  height: 50px;
}

/* line 120, ../sass/screen.scss */
.filler-bottom {
  height: 60px;
}

/** banner styling **/
/* line 126, ../sass/screen.scss */
.banner {
  height: 190px;
  width: auto;
  background-color: #1a0603;
}
/* line 130, ../sass/screen.scss */
.banner img {
  width: 100%;
  height: 190px;
  background-color: #1a0603;
}

/* line 137, ../sass/screen.scss */
.banner-image {
  object-fit: cover;
  object-position: 50% 0;
}

/*main content area styling*/
/* line 146, ../sass/screen.scss */
.mobile-hide {
  display: none;
}

/* line 150, ../sass/screen.scss */
.content {
  height: auto;
  padding-top: 25px;
  display: inline-block;
  text-align: center;
  width: 100%;
}
/* line 156, ../sass/screen.scss */
.content iframe {
  margin-top: 16px;
}
/* line 159, ../sass/screen.scss */
.content h2 {
  margin-top: 20px;
  font-size: 1.4rem;
}
/* line 163, ../sass/screen.scss */
.content p {
  margin-top: 16px;
  margin-right: 15px;
  margin-left: 25px;
  margin-bottom: 16px;
  text-align: left;
}
/* line 169, ../sass/screen.scss */
.content p a {
  text-decoration: underline;
}
/* line 173, ../sass/screen.scss */
.content a h1 {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 3rem;
  background: url("../img/Logos/TROMBONEbuttonBROWN.png") no-repeat;
  background-size: contain;
  font-family: 'Poiret One', Arial;
  font-size: 2rem;
  font-weight: bold;
}
/* line 183, ../sass/screen.scss */
.content a h1 img {
  max-height: 28px;
  max-width: 28px;
  vertical-align: bottom;
}

/* line 191, ../sass/screen.scss */
.inline {
  display: inline;
}

/* line 195, ../sass/screen.scss */
.feature-link {
  font-size: 1.6rem;
}
/* line 197, ../sass/screen.scss */
.feature-link img {
  max-height: 28px;
  max-width: 28px;
  vertical-align: bottom;
}

/* line 204, ../sass/screen.scss */
.shade-on-small {
  background: #f5f5f5;
}

/** Footer Styling **/
/* line 209, ../sass/screen.scss */
.footer {
  display: inline-block;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 60px;
  background-color: #5a4a43;
  color: #ddd;
}
/* line 217, ../sass/screen.scss */
.footer p {
  display: inline;
  float: left;
  width: 50%;
  margin-top: 8px;
  margin-left: 15px;
  font-size: 1.1rem;
  line-height: 1.8rem;
  font-family: 'Poiret One', Arial;
}
/* line 226, ../sass/screen.scss */
.footer p a {
  color: #ddd;
  text-decoration: underline;
}
/* line 231, ../sass/screen.scss */
.footer .social-links {
  display: inline-block;
  float: right;
  padding-left: 0px;
  margin-top: 10px;
}
/* line 236, ../sass/screen.scss */
.footer .social-links .social-icon {
  display: inline;
  padding-right: 5px;
  margin-right: 15px;
}
/* line 240, ../sass/screen.scss */
.footer .social-links .social-icon a img {
  max-width: 40px;
  max-height: 40px;
  opacity: 0.6;
}

/******************DESKTOP   STYLING  ********************/
@media only screen and (min-width: 768px) {
  /*toggle hidden / shown section */
  /* line 255, ../sass/screen.scss */
  .mobile-hide {
    display: inline-block;
  }

  /* line 259, ../sass/screen.scss */
  .large-hide {
    display: none !important;
  }

  /** desktop nav **/
  /* line 265, ../sass/screen.scss */
  nav ul {
    display: inline;
    float: right;
    padding: 0;
    padding-right: 8px;
    opacity: 1;
    margin: 0 auto;
  }
  /* line 272, ../sass/screen.scss */
  nav ul li {
    display: inline;
    padding-bottom: 0px;
  }
  /* line 275, ../sass/screen.scss */
  nav ul li a {
    display: inline-block;
    padding: 0;
    width: 70px;
    text-align: center;
    line-height: 50px;
    font-size: 1.5rem;
    box-sizing: border-box;
  }

  /** desktop Banner **/
  /* line 289, ../sass/screen.scss */
  .banner-large {
    width: 100%;
    height: 300px;
  }
  /* line 292, ../sass/screen.scss */
  .banner-large .left-image {
    position: absolute;
    top: 50px;
    left: 0px;
    background-color: #F5f5f5;
  }
  /* line 297, ../sass/screen.scss */
  .banner-large .left-image img {
    height: 300px;
    width: 500px;
    margin: 0;
  }
  /* line 303, ../sass/screen.scss */
  .banner-large .right-quote {
    position: absolute;
    top: 50px;
    right: 0px;
    left: 500px;
    height: 300px;
    font-family: 'Poiret One', Arial;
    text-align: center;
    color: #5a4a43;
    padding-left: 20px;
    padding-right: 20px;
    background: #f5f5f5;
  }
  /* line 315, ../sass/screen.scss */
  .banner-large .right-quote .banner-text {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    font-size: 1.8rem;
  }
  /* line 322, ../sass/screen.scss */
  .banner-large .right-quote .citation {
    text-align: right;
    padding-top: 20px;
    font-size: 1.3rem;
  }

  /*********  main content area styling  ***********/
  /* line 331, ../sass/screen.scss */
  .content {
    padding-top: 35px;
    font-size: 1.2rem;
  }

  /* line 335, ../sass/screen.scss */
  .container {
    vertical-align: top;
    min-height: 200px;
    text-align: center;
  }
  /* line 339, ../sass/screen.scss */
  .container p {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
  }

  /* line 346, ../sass/screen.scss */
  .shade-on-small {
    background: #fff;
  }

  /* line 349, ../sass/screen.scss */
  .main-area .container:nth-child(even) {
    background: #f5f5f5;
  }

  /* line 353, ../sass/screen.scss */
  iframe {
    display: block;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
  }
}
